<h1>Post lists</h1>


<div class="row" ng-repeat="post in posts">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{ post[0].title }} <small>{{ post[0]._time*1000 | date }}</small></h3>
    </div>
    <div class="panel-body">
      <a href="/#/post/{{ post[0]._filename }}" class="btn btn-primary pull-right">View</a>
      <dl class="dl-horizontal">
        <dt>Author:</dt>
        <dd>{{ post[0]._author }}</dd>
        <dt>Tags:</dt>
        <dd>{{ post[0].tags.join(', ') }}</dd>
        <dt>Description:</dt>
        <dd>{{ post[0].description }}</dd>
      </dl>
    </div>
  </div>
</div>
{{ posts }}
